i{
	font-size: 14px;
}

/* Admin zone */
#admin-dock-bar{
	display: block;
	width: 100%;
	background-color: #1ABC9C;
	height: 25px;
	text-align: right;
	padding-right: 40px;
	border-bottom: 1px solid #16A085;
}
#admin-dock-bar ul{
	list-style: none;
}
#admin-dock-bar ul li{
	display: inline;
	line-height: 25px;
	margin-right: 20px;
}
#admin-dock-bar a{
	color: #fff;
}
.nav-tabs {
	margin-bottom: 15px;
}
.edit-page .tab-pane{
	min-height: 350px;
}
.note-editor textarea.note-codable{
	background-color:#fff;
	color:#000;
}
textarea.page-property{
	width: 100%;
	min-height: 300px;
}
