<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Dashboard</title>
</head>
<body>

<div class="modal-content">
	<div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Add new page</h4>
    </div>
    <form method="post" class="form-horizontal" role="form" th:action="@{/admin/pages/save}" th:object="${page}">
    	<input type="hidden" name="content" th:field="*{content}" />
    	<div class="modal-body">
    		<div class="form-group">
		  		<label for="title" class="col-sm-3 control-label">Parent</label>
		  		<div class="col-sm-9">
		  			<select class="form-control" th:field="*{parentPage}">
		  				<option value="">--------</option>
		  				<option th:each="link : ${menuLinks}" th:text="${link.title}" th:value="${link.uuid}"></option>
		  			</select>
		  		</div>
			</div>
			<div class="form-group">
		  		<label for="title" class="col-sm-3 control-label">Title</label>
		  		<div class="col-sm-9">
		    		<input type="text" class="form-control" placeholder="The page title" required="required" th:field="*{title}" />
		  		</div>
			</div>
			<div class="form-group">
			  <label for="url" class="col-sm-3 control-label">Friendly URL</label>
			  <div class="col-sm-9">
			    <input type="text" class="form-control" placeholder="my-page-friendly-url" th:field="*{friendlyUrl}" />
			  </div>
			</div>
				
			<div class="checkbox col-sm-offset-3">
			  <label>
			  	<input type="checkbox" id="hidden" th:field="*{hidden}" />
			    Hidden <small>(Do not appears on menu, is accessible from the friendly url)</small>
			  </label>
			</div>
    	</div>
    	<div class="modal-footer">
      		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      		<button type="submit" class="btn btn-primary">Save changes</button>
    	</div>
    </form>
</div>

</body>
</html>
