<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security	http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/resources/**" security="none" />
	<http pattern="/login" security="none" />
	
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/admin/**" access="isAuthenticated()" />
		<form-login login-page="/login" default-target-url="/" always-use-default-target="true" authentication-failure-url="/login?loginError" />
		<logout logout-url="/logout" />
	</http>
	
	<!-- Implementación de la validación de usuarios -->
	<beans:bean id="authenticationProvider" class="es.toxo.cms.common.authentication.AuthenticationProvider" />
	<authentication-manager>
		<authentication-provider ref="authenticationProvider" />
	</authentication-manager>

</beans:beans>